{% assign bio = site.pages | where: 'id', judge.id%}
<li class="judge">
{% if bio.size > 0%}<a class="judgelink" href="http://www.oscn.net/courts/bio/{{judge.id}}/{{judge.fname}}-{{judge.lname}}">{%endif%}
<img class="picture" src="http://www.oscn.net/images/judges/id/{{judge.image}}">
<span class="name">{{judge.fname}} {{judge.lname}}</span>
<span class="type">{{judge.type}} Judge</span>
<span class="county">{{judge.county | capitalize}} County</span>
<span class="phone">{% if judge.phone.size > 0%}({{judge.phone | slice: 0,3 }}) {{judge.phone | slice: 3,3 }}-{{judge.phone | slice: 6,4 }}{%else%}--{%endif%}</span>
{% if bio.size > 0%}</a>{%endif%}
</li>